# This is a basic workflow to help you get started with Actions

name: Docs

# build the documentation whenever there's a new version tag
# or manually
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

# security: restrict permissions for CI jobs.
permissions:
  contents: read

jobs:
  # Build the documentation and upload the static HTML files as an artifact.
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.21"
      
      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Build docs
      - run: uv run python tools/make-docs.py

      - name: Upload docs artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: docs_out/

  # Deploy the artifact to GitHub pages.
  # This is a separate job so that only actions/deploy-pages has the necessary permissions.
  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v1
